

<div id="calendarWrapper" ng-controller="HomePageCtrl">
    <div class="calendar-event" ng-repeat="event in events">
        <div class="day-number">
            <b>{{event.Day}}</b>
        </div>
        <h3>{{event.Speaker}}</h3>
        <div class="event-details-wrapper">
            <h4>{{event.Title}}</h4>
            <div ng-bind-html-unsafe="event.Description" class="description"></div>
        </div>
        <button class="details-button">Details</button>
    </div>
    <div class="location">
        <h2>Location:</h2>
        <div class="event_host">
            <h4>{{location.Name}}</h4>
        </div>
        <div class="event_address">{{location.Street}}, {{location.City}}, {{location.State}} {{location.ZipCode}}</div>
    </div>
</div>

<script src="app/HomePageCtrl.js"></script>