<!DOCTYPE html>
<html ng-app>
<head>
    <base href="/content/" />
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-responsive.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <header>
            <img src="images/logo.jpg" />
        </header>
        <nav>
            <ul>
                <li id="calendar"><a href="/calendar">Calendar</a></li>
                <li id="library"><a href="/library">Library</a></li>
                <li id="members"><a href="/members">Members</a></li>
                <li id="community"><a href="/community">Community</a></li>
                <li id="job-buzz"><a href="/jobs">Job Buzz</a></li>
                <li id="sponsors"><a href="/sponsors">Sponsors</a></li>
            </ul>

        </nav>
    </div>

    <div id="content">

    </div>

    <script src="scripts/jquery-1.9.1.min.js"> </script>
    <script src="scripts/bootstrap.min.js"> </script>
    <script src="scripts/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/navigation.js"></script>
</body>

</html>
