<!DOCTYPE html>
<html>
 <head>
<base href="/content/"/>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="4.1.8.204"/>
  <title>Home</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/site_global.css?89652228"/>
  <link rel="stylesheet" type="text/css" href="css/master_design-1.css?31007099"/>
  <link rel="stylesheet" type="text/css" href="css/index.css?363602425" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
</script>
   </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="colelem" id="u102"><!-- simple frame --></div>
    <div class="colelem" id="u90"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu106"><!-- group -->
     <div class="clearfix grpelem" id="u106"><!-- column -->
      <div class="clearfix colelem" id="u111-4"><!-- content -->
       <p>Events</p>
      </div>
      <div class="clearfix colelem" id="u117-4"><!-- content -->
       <p>Let's Focus On Business Value with Einar Ingebrigtsen from Norway!</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u109"><!-- column -->
      <div class="clearfix colelem" id="u115-4"><!-- content -->
       <p>Photos</p>
      </div>
      <div class="clearfix colelem" id="u118-4"><!-- content -->
       <p>Let's Focus On Business Value with Einar Ingebrigtsen from Norway!</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u119-3"><!-- content -->
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u110"><!-- group -->
      <div class="clearfix grpelem" id="u114-4"><!-- content -->
       <p>Members</p>
      </div>
     </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="colelem" id="u126"><!-- simple frame --></div>
    <div class="colelem" id="u121"><!-- image -->
     <img class="block" id="u121_img" src="images/new_blueofficeversion-layer%205.png" alt="" width="1423" height="1779"/>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/museutils.js?4076886207" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?4068933136" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   Muse.Utils.addSelectorFn('body', Muse.Utils.transformMarkupToFixBrowserProblemsPreInit);/* body */
Muse.Utils.addSelectorFn('body', Muse.Utils.prepHyperlinks); /* body */
Muse.Utils.addSelectorFn('body', function() { Muse.Utils.fullPage('#page'); }); /* 100% height page */
Muse.Utils.addSelectorFn('body', Muse.Utils.showWidgetsWhenReady);/* body */
Muse.Utils.addSelectorFn('body', Muse.Utils.transformMarkupToFixBrowserProblems);/* body */

</script>
   </body>
</html>
