<!DOCTYPE html>
<html>
    <head>
        <base href="/content/" />
        <link href="bootstrap.css" rel="stylesheet" />
        <link href="bootstrap-responsive.css" rel="stylesheet" />
        <script src="scripts/jquery-1.9.1.min.js"> </script>
        <script src="scripts/bootstrap.min.js"> </script>
    </head>
    <body>
        <div style="margin: auto; overflow: hidden; width: 480px;">
            <div class="row-fluid">
                <div class="span12">
                    <img src="images/logo.jpg" class="span12" />
                </div>
            </div>
            <div class="row-fluid"><div class="span12">
                                       <button class="btn btn-large span12" onclick="window.open('http://www.meetup.com/vNext-OrangeCounty/')">Meetup</button>
                                   </div></div>
            <div class="well">
                <div class="row-fluid ">
                    <h2>Next Event</h2>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <img class="span12" src="https://si0.twimg.com/profile_images/3574155401/13eea00d1e1b2545bc9d8a3268343d53_bigger.jpeg" />
                    </div>
                    <div class="span8">
                        <h3>Angular JS with ASP.NET MVC and WebAPI</h3>
                        <h4>Hattan</h4>
                        <div class="event_time">Date: Wed, July 10th, 6pm</div>
                        
                    </div>
                </div>
                

            </div>
            <div class="well"><h2>Location:</h2>
                <div class="event_host"><h4>TEKsystems</h4></div>
                        <div class="event_address">100 BayView Circle #3400, Newport Beach, CA 92660</div>  
            </div>
        </div>
    </body>
</html>