#u102
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u90
{
	border-color: #000000;
	background-color: #012D53;
	position: relative;
}

#u106,#u109,#u110
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #012D53;
	position: relative;
}

#u111-4,#u117-4,#u115-4,#u118-4,#u114-4
{
	color: #FFFFFF;
	position: relative;
}

#u126
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u119-3,#u121
{
	position: relative;
}

